<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
       <property name="hibernate.connection.password">admin</property>
		<property name="hibernate.connection.url">jdbc:mysql://localhost:3306/STPAULS</property>
		<property name="hibernate.connection.username">admin</property>
		<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.hbm2ddl.auto">true</property>
        <property name="show_sql">true</property>
        <property name="current_session_context_class">thread</property>
        
        
        <mapping resource="com/fixent/sm/server/hbm/SubjectCategory.hbm.xml"></mapping>
        <mapping resource="com/fixent/sm/server/hbm/Subject.hbm.xml"></mapping>
        <mapping resource="com/fixent/sm/server/hbm/Syllabus.hbm.xml"></mapping>
        <mapping resource="com/fixent/sm/server/hbm/Batch.hbm.xml"></mapping>
        <mapping resource="com/fixent/sm/server/hbm/Student.hbm.xml"></mapping>
        <mapping resource="com/fixent/sm/server/hbm/Mark.hbm.xml"></mapping>
        <mapping resource="com/fixent/sm/server/hbm/Congregation.hbm.xml"></mapping>
        <mapping resource="com/fixent/sm/server/hbm/Diocese.hbm..xml"></mapping>
        <mapping resource="com/fixent/sm/server/hbm/Configuration.hbm.xml"></mapping>
        <mapping resource="com/fixent/sm/server/hbm/Address.hbm.xml"></mapping>
        <mapping resource="com/fixent/sm/server/hbm/Ministry.hbm.xml"></mapping>
        <mapping resource="com/fixent/sm/server/hbm/DocumentStatus.hbm.xml"></mapping>
        
        
    </session-factory>
</hibernate-configuration>
